[Unit]
Description=Run taskill daily
Requires=taskill.service

[Timer]
OnCalendar=*-*-* 06:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
